<div class="navbar-lepetitcoin navbar-lepetitcoin-fixed">
  <!-- Logo -->
    <%= link_to cl_image_tag('le_petit_coin_ewg3eg'), root_path, class: "navbar-lepetitcoin-brand" %>
    <!-- cl_image_tag('nom sous cloudinary') -->

  <!-- Right Navigation -->
  <div class="navbar-lepetitcoin-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
    <!--Profile picture and dropdown -->
      <div class="dropdown">
        <%= cl_image_tag 'claudy_p9zqe1', class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to profile_path do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    <% else %>
    <!--Login & sign in links -->
      <%= link_to 'Log in', new_user_session_path, class: "navbar-lepetitcoin-item navbar-lepetitcoin-link" %>
      <%= link_to 'Sign up', new_user_registration_path, class: "navbar-lepetitcoin-item navbar-lepetitcoin-link" %>
    <% end %>
  </div>
  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-lepetitcoin-item hidden-md hidden-lg">
      <% if user_signed_in? %>
          <div class="dropdown">
            <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-lepetitcoin-dropdown-menu">
              <li>
                <%= link_to profile_path do %>
                  <%= t(".profile", default: "Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>
      <% else %>
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-lepetitcoin-dropdown-menu">
            <li><%= link_to 'Log in', new_user_session_path, class: "navbar-lepetitcoin-item navbar-lepetitcoin-link" %></li>
            <li><%= link_to 'Sign up', new_user_registration_path, class: "navbar-lepetitcoin-item navbar-lepetitcoin-link" %></li>
          </ul>
        </div>
      <% end %>
  </div>
</div>
