<div class="wc-show_summary col-md-7">
  <h2 class="text-center"><%= @wc.name.capitalize %></h2>
  <div class="row">
    <div class="image col-md-6">
      <% if @wc.photo? %>
        <%= cl_image_tag @wc.photo.path, class: 'img-responsive img-thumbnail img_wc ' %>
      <% end %>
    </div>

    <div class="col-md-6">
      <div class="wc-show_description wc-show_details-block">
        <h3>Description:</h3>
        <p><%= @wc.description %></p>
      </div>

      <div class="wc-show_address wc-show_details-block">
        <h3>Address:</h3>
        <p><%= @wc.address %></p>
      </div>

      <div class="wc-show_availability wc-show_details-block">
        <h3>Availability:</h3>
        <p><%=  @wc.availability == true ? 'Yes' : 'Sorry, not available anymore, go back to the list of available wcs or try again in a few minutes' %></p>
      </div>

      <div class="wc-show_booking wc-show_details-block">
          <p><%= render partial: 'bookings/form', locals: { booking: Booking.new, wc: @wc } %></p>
      </div>
    </div>

  </div>

  <p>

  </p>
</div>
