<div class='container' id="wc_index">
  <div class='col-xs-12 col-md-6'>
    <h3 id='wc'> Make your choice :</h3>

    <% @wcs.each do |wc| %>
    <div class='card' id="wc">
      <ul class="list-unstyled">
        <li><h4><strong><%= link_to wc.name , wc_path(wc) %></strong></h4></li>
        <li><%= wc.description %></li>
        <li></strong><%= wc.address %></li>
      </ul>
    </div>
    <% end %>
  </div>

<!-- map -->
  <div class='col-xs-12 col-md-6'>
    <div id="map" style="width: 100%; height: 600px;"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>

  </div>
</div>
