<div class="form">
 <div class="col-xs-12 col-sm-6 col-md-6">
  <h2> Add a new WC </h2>
    <%= simple_form_for @wc do |f|  %>
      <%= f.input :name, label: 'Name :' %>
      <%= f.input :description, label: 'Description :', as: :text %>
      <%= f.input :address, label: 'Address :', placeholder: '12 rue Princesse, 59000 Lille' %>
      <%= f.input :photo, as: :attachinary %>
      <%= f.label :availability, label: 'Availability :' %>

      <br>
      <%= f.collection_radio_buttons :availability, [[true, 'Yes '] ,[false, ' No']], :first, :last,
          checked: [true, 'Yes ']%>
      <br>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_include_tag 'wc_create_autocomplete.js' %>
<%end%>
