<div class="container">
  <h1><%= @wc.name %></h1>
  <p><strong>Description :</strong></p>
  <%= @wc.description.capitalize %>
  <p></p>
  <p><strong>Addresse: </strong></p>
  <%=  @wc.address%>
  <p></p>
  <p><strong>Available ? </strong></p>
  <%=  @wc.availability == true ? 'Yes' : 'No, sorry' %>
  <p></p>
  <%= link_to 'Book Now', new_wc_booking_path(@wc), { class: 'btn btn-primary'} %>
</div>
