<div class="form">
  <div class = 'col-xs-12 col-md-6'>
  <%= cl_image_tag ('wc_icon_ipzyxq'), height: 100 %>
  </div>
</div>
<div class="form">
  <div class = 'col-xs-12 col-md-6'>
    <% if @wc.photo? %>
      <%= cl_image_tag @wc.photo.path, width: 200, height: 300, crop: :fill %>
    <% end %>
    <h1><%= @wc.name %></h1>
    <h3><em><%= 'Le Petit Coin de ' + Profile.where(user_id: @wc.user_id).first.first_name.capitalize %></em></h3>
    <p><strong>Description :</strong></p>
    <%= @wc.description.capitalize %>
    <p></p>
    <p><strong>Addresse: </strong></p>
    <%=  @wc.address%>
    <p></p>
    <p><strong>Available ? </strong></p>
    <%=  @wc.availability == true ? 'Yes' : 'No, sorry' %>
    <p></p>
    <%= render partial: 'bookings/form', locals: { booking: Booking.new, wc: @wc } %>
    <p><%= link_to 'Back to the list', wcs_path %></p>
  </div>
</div>

<div class="reviews">
  <%= @wc.reviews.each do |review| %>
    <%= 'Posted by ' + Profile.where(user_id: Booking.find(review.booking_id).user_id).first.first_name.capitalize + review.description %>
    <%= review.rating %>
    <%= review.description %>
  <% end %>
</div>
<% if current_user %>
  <div class="form">
    <% if current_user.bookings.pluck(:wc_id).include? @wc.id %>
      <% Booking.where(wc_id: @wc.id, user: current_user).each do |booking| %>
        <div class="add-review" style="border:1px solid;">

        <p><%= 'You have had the chance to use ' + Profile.where(user_id: @wc.user_id).first.first_name.capitalize + "'s Petit Coin" + ' on ' + booking.created_at.to_s %></p>
        <% if booking.reviews.empty? %>
          <p>Let others know what you thought of it: </p>
          <%= render partial: 'reviews/form', locals: {booking: booking, review: Review.new } %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
