<div class="form">
  <div class = 'col-xs-12 col-md-6'>
    <%= image_tag ('wc_icon'), height: 100 %>
    <h1><%= @wc.name %></h1>
    <p><strong>Description :</strong></p>
    <%= @wc.description.capitalize %>
    <p></p>
    <p><strong>Addresse: </strong></p>
    <%=  @wc.address%>
    <p></p>
    <p><strong>Available ? </strong></p>
    <%=  @wc.availability == true ? 'Yes' : 'No, sorry' %>
    <p></p>
    <%= render partial: 'bookings/form', locals: { booking: Booking.new, wc: @wc } %>
    <p><%= link_to 'Back to the list', wcs_path %></p>
  </div>
</div>


<% @wc.bookings.each do |booking| %>
<%= booking.id %>
<% end %>
