<div class="container">
  <div class="row">
    <% wcs.each do |user, wc| %> <%# modifier data %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url('<%= cl_image_path wc.photo %>');">  <%# modifier adress picture %>
          <div class="card-category"><%= wc.address %></div> <%# créer city dans tables wc%>
          <div class="card-description">
            <h2><%= wc.name %></h2>
            <p><%= wc.description %></p>
          </div>
          <%= image_tag wc.user_picture, class:"card-user avatar avatar-large" %> <%# modifier adress picture %>
          <%= link_to "", "flats/#{owner}.html", class: "card-link" %> <%# modifier lien %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<!-- Card à finaliser -->
 <div class="container">
   <div class="row">
     <div class="col-xs-12 col-sm-4">
       <% if @wc.photo? %>
         <%= cl_image_tag @wc.photo.path, width: 200, height: 300, crop: :fill %>
       <% end %>
         <div class="card-category"><%= @wc.address %></div>
         <div class="card-description">
           <h2><%= @wc.name %></h2>
           <p><%= @wc.description %></p>
         </div>
         <% if current_user.profile.photo? %>
           <%= cl_image_tag wc.photo.path, class:"card-user avatar avatar-large" %>
         <% end %>
         <%= link_to "Details", wc_path(wc), class: "card-link" %>
       </div>
     </div>
   </div>
 </div>

<!-- Card à finaliser -->
