<div class='form'>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <%= link_to "Create your WC", new_wc_path, class: "btn btn-primary"  %>
      <%= link_to "Manage your bookings", root_path, class: "btn btn-primary"  %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <fieldset>
            <legend>Your profile:</legend>
              <% if @profile %>
              <ul class="list-unstyled">
                <li><strong>First-name : </strong><%= @profile.first_name %></li>
                <li><strong>Last-name : </strong><%= @profile.last_name %></li>
                <li><strong>Phone-number : </strong><%= @profile.phone_number %></li>
                <li><strong>Email : </strong><%= current_user.email %></li>
              </ul>
              <% else %>
                <%= link_to "Please create your profile", new_profile_path, class: "btn btn-primary"  %>
              <% end %>
        </fieldset>
    </div>
  </div>
</div>
