<div class='container-profile'>
  <div class="row">

    <div class="col-xs-2 col1">
      <%= image_tag ('http://www.konbini.com/wp-content/blogs.dir/3/files/2015/05/dikkenek-2006-12-g-1-810x461.jpg'), class: 'img-profile' %>
    </div>

    <div class="col-xs-6 col2">
        <fieldset>
            <legend>My profile:</legend>
              <% if @profile %>
                <% if @profile.photo? %>
                  <%= cl_image_tag @profile.photo.path, width: 200, height: 300, crop: :fill %>
                <% end %>
                <ul class="list-unstyled">
                  <li><strong>First-name : </strong><%= @profile.first_name %></li>
                  <li><strong>Last-name : </strong><%= @profile.last_name %></li>
                  <li><strong>Phone-number : </strong><%= @profile.phone_number %></li>
                  <li><strong>Email : </strong><%= current_user.email %></li>
                </ul>
              <% else %>
                <%= link_to "Please create your profile", new_profile_path, class: "btn btn-primary"  %>
              <% end %>
        </fieldset>
    </div>

    <div class="col-xs-4 col3">
      <fieldset>
        <legend>My Wcs :</legend>
          <ul class="list-unstyled">
            <li>
              <%= image_tag ('http://cache.marieclaire.fr/data/photo/w700_c17/10f/toilettes.jpg'), class: 'sticker-small' %>
              <strong>Joli WC bien placé</strong>
              <span class="btn btn-primary">Available</span>
            </li>
          </ul>
      </fieldset>
    </div>

  </div>
</div>

<!--
<div class="col-xs-12 col-sm-6 col-md-6">
      <%= link_to "Create your WC", new_profile_wc_path, class: "btn btn-primary"  %>
      <%= link_to "Manage your bookings", root_path, class: "btn btn-primary"  %>
    </div>
-->
