<div class='container-profile'>
  <div class="row row-one-profile">

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col1">
      <fieldset>
        <% if @profile.photo? %>
          <%= cl_image_tag @profile.photo.path, width: 200, height: 300, crop: :fill, class: 'thumbnail' %>
        <% end %>
      </fieldset>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col2">
        <fieldset>
            <legend>My profile:</legend>
              <% if @profile %>

                <ul class="list-unstyled">
                  <li><strong>First-name : </strong><%= @profile.first_name %></li>
                  <li><strong>Last-name : </strong><%= @profile.last_name %></li>
                  <li><strong>Phone-number : </strong><%= @profile.phone_number %></li>
                  <li><strong>Email : </strong><%= current_user.email %></li>
                </ul>
              <% else %>
                <%= link_to "Please create your profile", new_profile_path, class: "btn btn-primary"  %>
              <% end %>
        </fieldset>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col3">
      <fieldset>
        <legend>My Wcs :</legend>
        <ul class="list-unstyled">
          <% if @profile %>
            <% @profile.user.wcs.all.each do |f| %>
              <li>
                <%= cli_image_tag (f.photo), class: 'sticker-small' unless f.photo.nil? %>
                <strong><%= f.name %></strong>
                <span class="btn btn-success btn-xs">Available</span>
              </li>
            <% end %>
          <% else %>
            <p> You don't have any Wc. Click to add one. </p>
          <% end %>
        </ul>
          <%= link_to " Add new", new_profile_wc_path, class: "fa fa-plus-circle"  %>

      </fieldset>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <fieldset>
        <legend>My Bookings :</legend>
        <%= %>
      </fieldset>
    </div>
  </div>

</div>

<!--
<div class="col-xs-12 col-sm-6 col-md-6">

      <%= link_to "Manage your bookings", root_path, class: "btn btn-primary"  %>
    </div>
-->
